/*****

Maroon: #733944;
Salmon: #BF6B7B;
Off-white: #D9D8CC;
Tan: #A69485;
Brown: #592B27;

*****/

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Oswald|Roboto);

* {
  box-sizing: border-box;
}

body {
  background: #D9D8CC;
  color: #592B27;
  font-family: 'Roboto', sans-serif;
  padding: 50px 0;
  -webkit-font-smoothing: antialiased;
}

article,
body > header,
footer {
  margin-left: 360px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: auto;
}

header h1 { margin-top: 0; }

header nav ul {
  list-style: none;
  padding: 0 10px 15px;
  margin: 0;
  border-bottom: 1px solid #C9C8BC;
}

header nav ul li {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 15px;
  color: #A69485;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 10px 10px 10px 0;
  padding: 3px 13px;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

header nav ul li:first-child {
  color: #665445 !important;
}

header nav ul li:hover {
  color: #867465;
}

aside {
  background: #733944;
  color: #BF6B7B;
  height: 100%;
  left: 0;
  padding: 50px;
  position: fixed;
  top: 0;
  width: 300px;
}

aside h3 {
  color: #DF8B9B;
}

aside ul {
  padding: 0;
  list-style: none;
}

aside ul li {
  color: #BF6B7B;
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  line-height: 24px;
  text-rendering: auto;
  transform: translate(0, 0);
}

aside ul li a {
  color: #BF6B7B;
  text-decoration: none;
  transition: all 0.3s linear;
}

aside ul li a:hover {
  color: #9F4B5B;
}

aside ul li:first-child a:before,
aside ul li+li a:before,
aside ul li:last-child a:before {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s linear;
  vertical-align: middle;
  width: 30px;
}

aside ul li:first-child:hover a:before,
aside ul li+li:hover a:before,
aside ul li:last-child:hover a:before {
  color: #9F4B5B;
}

aside ul li:first-child a:before { content:"\f099";  }
aside ul li+li a:before { content:"\f09a"; }
aside ul li:last-child a:before { content:"\f09b"; }

header,
article {
  max-width: 800px;
}

article {
  border-bottom: 1px solid #C9C8BC;
  padding: 40px 0;
}

article h4 {
  color: #996B67;
}

footer {
  margin-top: 40px;
  font-size: 80%;
}