.style-switcher {
  position: fixed;
  top: 0;
  left: 10px;
}

.style-switcher .toggle {
  display: inline-block;
  background: #cc9;
  border: 1px solid #996;
  padding: 10px 15px;
  margin-right: 10px;
  text-decoration: none;
}

.style-switcher .toggle:hover {
  background: #ffc;
}