.style-switcher {
  position: fixed;
  bottom: 0;
  right: 10px;
}

.style-switcher .toggle {
  display: inline-block;
  background: #ffc;
  border: 1px solid #996;
  border-bottom: none;
  padding: 10px 15px;
  margin-right: 5px;
  text-decoration: none;
}

.style-switcher .toggle:hover {
  background: #dda;
}